<div class="col-lg-12">
  <h2 class="subheading">Extend Warranty</h2>
  <form class="Extended-warranty" id="extended-form" #extendedWarrantyForm="ngForm" (ngSubmit)="addWarranty(extendedWarrantyForm)">
    <div class="row">
      <div class="col-lg-4">
        <div class="brand-container">
          <div class="d-flex flex-wrap">
            <div class="brand-wrapper" *ngFor="let extdImg of extdImgUrl; let i=index;" (click)="removeInvImage(i)">
              <img src="{{extdImg}}" alt="" style="width: 100%;">
            </div>
            <div class="brand-wrapper">
              <input type="file" class="brand-file" (change)="onSelectFile($event)" />
            </div>
          </div>
          <span class="text-danger">{{fileFormatError}}</span>
          <h6>Upload Extend Warranty Photo</h6>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <label for="provider">Service Provider<span>*</span></label>
            <input
              type="text"
              #serviceProvider="ngModel" [ngModel]="productExtWarDetail.serviceProvider"
              placeholder="LG"
              class="form-control"
              required
              name="serviceProvider"
            />
          </div>
          <div class="col-lg-6">
            <label for="vendor">Vendor Contact No. <span>(optional)</span></label>
            <input
              type="number"
              id="mobileNo"
              #mobileNo="ngModel" [ngModel]="productExtWarDetail.mobileNo"
              placeholder="+91"
              class="form-control"
              name="mobileNo"
            />
          </div>
          <div class="col-lg-6">
            <label for="start">Start Date<span>*</span></label>
            <input required type="date" id="startDate" #startDate [ngModel]="startDateTime" name="startDate" class="form-control" required data-date-format="dd-mm-yyyy"/>
          </div>
          <div class="col-lg-6">
            <label for="end">Warranty Period<span>*</span></label>
            <select name="noOfYears" id="noOfYears" #noOfYears [ngModel]="'1'" class="form-control" required>
              <option value="1">1 year</option>
              <option value="2">2 years</option>
              <option value="3">3 years</option>
            </select>
          </div>

          <div class="col-lg-6">
            <label for="policyNumber">Policy Number<span>*</span></label>
            <input type="text" id="policyNumber" class="form-control" required #policyNumber="ngModel" [ngModel]="productExtWarDetail.policyNumber" name="policyNumber"/>
          </div>
          <div class="col-lg-12">
            <span class="text-danger error_message">{{errorMessage}}</span>
            <div class="button-container">
              <button class="product-button skip-button" (click)="skipWarranty()">Back</button>
              <button class="product-button continue-button" type="submit">continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
