<div class="col-lg-12">
  <h2 class="subheading">Extend Warranty</h2>
  <form
    class="amc"
    id="amc-form"
    #amcForm="ngForm"
    (ngSubmit)="addAmc(amcForm)"
  >
    <div class="row">
      <div class="col-lg-4">
        <div class="brand-container">
          <div class="brand-wrapper">
            <input type="file" class="brand-file" />
          </div>
          <h6>Upload Invoice Photo</h6>
          <p class="text-muted text-center">
            Image of invoice recieved on the day of purchase
          </p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <label for="provider">Service Provider<span>*</span></label>
            <input
              type="text"
              #serviceProvider="ngModel"
              [(ngModel)]="productAmcDetail.serviceProvider"
              placeholder="LG"
              class="form-control"
              required
              name="serviceProvider"
            />
          </div>
          <div class="col-lg-6">
            <label for="vendorNo">Vendors No. <span>(optional)</span></label>
            <input
              type="text"
              #vendorNo="ngModel" [(ngModel)]="productAmcDetail.vendorNo"
              placeholder="+91"
              class="form-control"
              
              name="vendorNo"
            />
          </div>
           <div class="col-lg-6">
            <label for="start">Start Date<span>*</span></label>
            <input required type="date" id="startDate" #startDate [ngModel]="startDateTime" name="startDate" class="form-control" required data-date-format="dd-mm-yyyy"/>
          </div>
          <div class="col-lg-6">
            <label for="duration">Duration<span>*</span></label>
            <select name="duration" id="duration" #duration="ngModel" [(ngModel)]="productAmcDetail.duration" class="form-control" required>
              <option value="quaterly">Quaterly</option>
              <option value="monthly">Monthly</option>
              <option value="yearly">Yearly</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="mobileNo">Contact No<span>*</span></label>
            <input type="text" id="mobileNo" name="mobileNo" #mobileNo="ngModel" [(ngModel)]="productAmcDetail.mobileNo" class="form-control" />
          </div>
          <div class="col-lg-12">
            <div class="button-container">
              <button class="product-button skip-button" (click)="skipAmcDetails()">Skip</button>
              <button class="product-button continue-button" type="submit" >continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
