<!-- <div class="dashboard-menubar" id="sidebar">
    <div class="image-wrapper logo-wrapper customer-logo">
        <img src="./assets/img/WeVouch_Logo.png" class="img-fluid logo">
    </div>
    <nav class="border-top">
        
        <ul class="menu">
            <li routerLinkActive="active"><a routerLink="admin/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
            <li routerLinkActive="active"><a routerLink="admin/customer/list"><i class="fa fa-user" aria-hidden="true"></i>Customer</a></li>
            <li routerLinkActive="active"><a routerLink="admin/ticket/list"><i class="fa fa-ticket" aria-hidden="true"></i>Tickets</a></li>
            <li routerLinkActive="active"><a routerLink="admin/product/list"><i class="fa fa-product-hunt" aria-hidden="true"></i>Products</a></li>
            <li><a href="#electronicsSubmenu1" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fas fa-file"></i>Reports</a>
            <ul class="list-unstyled collapse" id="electronicsSubmenu1">
                <li routerLinkActive="active">
                    <a routerLink="admin/customer/report/list"><i class="fas fa-file"></i>Customer Report</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="admin/ticket/report/list"><i class="fas fa-file"></i>Ticket Report</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="admin/product/report/list"><i class="fas fa-file"></i>Product Report</a>
                </li>
            </ul>
            </li>
            <li><a href="#electronicsSubmenu2" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fas fa-users"></i>Master</a>
                <ul class="list-unstyled collapse" id="electronicsSubmenu2">
                    <li routerLinkActive="active">
                        <a routerLink="admin/master/category/list"><i class="fas fa-chalkboard-teacher"></i>Category</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="admin/master/brand/list"><i class="fas fa-user-plus"></i>Brand</a>
                    </li>
                </ul>
            </li>
            
            <li routerLinkActive="active"><a routerLink="admin/package/list"><i class="fas fa-handshake" aria-hidden="true"></i>Package</a></li>
            <li routerLinkActive="active"><a href=""><i class="fas fa-cog" aria-hidden="true"></i>Settings</a></li>
            <li routerLinkActive="active"><a routerLink="admin/support-executive/list"><i class="fas fa-life-ring" aria-hidden="true"></i>Suppor Executives</a></li>
            <li><a href="#electronicsSubmenu3" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fa fa-bell"></i>Notification</a>
                <ul class="list-unstyled collapse" id="electronicsSubmenu3">
                    <li routerLinkActive="active">
                        <a routerLink="admin/notification/send-notification"><i class="fas fa-bell"></i>Send Notification</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="admin/notification/send-email"><i class="fas fa-envelope"></i>Send Email</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="admin/notification/send-sms"><i class="fas fa-sms"></i>Send SMS</a>
                    </li>
                </ul>
            </li>				
        </ul>
    </nav>
</div> -->

<div id="sidebar">
    <div class="text-center pt-3 pb-3">
        <img src="../../../../../assets//img/logo.png" class="">
    </div>
    <nav class="nav-scroll">
        <ul class="menu">
            <li routerLinkActive="active"><a routerLink="user/dashboard"><span class="hom"></span>Home</a></li>
            <li routerLinkActive="active"><a routerLink="user/product/add"><span class="addpro"></span>Add Products</a></li>
            <li routerLinkActive="active"><a routerLink="user/product/list"><span class="pro"></span>Products</a></li>
            <li routerLinkActive="active"><a  routerLink="user/ticket/list"><span class="tic"></span>Tickets <small class="noti-count">{{ticketCount}}</small></a></li>
           
            <li routerLinkActive="active"><a ><span class="sup"></span>Supports</a></li>
        </ul>
    </nav>
</div>
