<div id="sidebar">
    <div class="text-center pt-3 pb-3">
        <img src="../../../../../assets/img/logo.png" class="">
    </div>
    <nav class="nav-scroll">
        <ul class="menu">
            <li><a routerLinkActive="active" routerLink="user/dashboard"><span class="hom"></span>Home</a></li>
            <li><a routerLinkActive="active"routerLink="user/product/add"><span class="addpro"></span>Add Products</a></li>
            <li><a routerLinkActive="active"routerLink="user/product/list"><span class="pro"></span>Products</a></li>
            <li><a routerLinkActive="active" routerLink="user/ticket/list"><span class="tic"></span>Tickets <small class="noti-count">{{ticketCount}}</small></a></li>
           
            <li><a routerLinkActive="active"><span class="sup"></span>Supports</a></li>
        </ul>
    </nav>
</div>
