<ngx-ui-loader
  loaderId="loader"
  fgsColor="#FFFFFF"
  bgsOpacity="1"
  overlayColor="rgba(40,40,40,0.1)"
></ngx-ui-loader>
<div class="body_content p-4">
  <div class="container">
    <h1 class="heading mb-1">Hi,<span> {{userDetails.name}}</span></h1>
    <p class="text-muted">You have {{ticketList.length}} tickets left</p>

    <div class="col-12 row m-0 p-0 mt-4">
      <div class="col-12 col-md-4 mb-2 ticket-list" *ngFor="let ticket of ticketList; let i = index">
        <a [routerLink]="['/user/ticket/detail', ticket._id]">
          <div class="card">
            <div class="card-body d-flex p-2">
              <div class="image">
                <img src="{{ticket.products?.productImagesUrl[0]}}" />
              </div>
              <h1>
                {{ticket?.products?.name}}
                <!-- <span class="mt-2">
                  <small>Expires on :</small> 20 Feb 2023
                </span> -->
                <span><small>Status :</small> {{ticket?.status}}</span>
              </h1>
            </div>
            <div class="card-footer text-center">
              <h1>
                <span>Your wevouch ticket no.</span>
                {{ticket.uniqueId}}
              </h1>
            </div>
          </div>
        </a>
      </div>
   
    </div>
  </div>
</div>
