<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<div class="body_content pt-4 product-details-body">
  <div class="container">
    <h1 class="heading mb-3">Product Details</h1>
    <div class="row justify-content-start m-0">
      <div class="col-12 col-md-11 card shadow-lg p-0">
        <div class="row card-wrapper">
          <div class="col-lg-6 product-imgs">
            <div class="img-display mb-0" *ngIf="productDetails.productImagesUrl != ''">
              <owl-carousel-o [options]="customOptions">
                <ng-container>
                  <ng-template *ngFor="let productImg of productDetails.productImagesUrl; let i = index" carouselSlide>
                    <div class="img-showcase p-4 bg-light">
                      <img src="{{productImg}}" alt="Invoice Image" />
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
            <div class="img-display mb-0" *ngIf="productDetails.productImagesUrl == ''">
              <div class="img-showcase p-4 bg-light">
                <img src="./assets/img/blank-image.png" alt="Product Image" />
              </div>
            </div>
          </div>
          
          <div class="col-lg-6">
            <h1 class="heading mt-0">{{productDetails?.name}}</h1>
            <div class="row">
              <div class="col-lg-6 pl-0">
                <div class="details-box">
                  <p class="text-blue">Category</p>
                  <h5>{{productDetails?.category || 'N/A'}}</h5>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="details-box">
                  <p class="text-blue">Sub Category</p>
                  <h5>{{productDetails?.subCategory || 'N/A'}}</h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 pl-0">
                <div class="details-box">
                  <p class="text-blue">Model Number</p>
                  <h5>{{productDetails?.modelNo || 'N/A'}}</h5>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="details-box">
                  <p class="text-blue">Brand</p>
                  <h5>{{productDetails?.brands || 'N/A'}}</h5>
                </div>
              </div>
            </div>
            <div class="invoice-details-box">
              <div class="row">
                <div class="col-lg-3" *ngIf="productDetails.invoicePhotoUrl == ''">
                  <img src='./assets/img/blank-image.png' alt="Invoice Image" />
                </div>
                <div class="col-lg-3" *ngIf="productDetails.invoicePhotoUrl != ''">
                  <owl-carousel-o [options]="customOptions">
                    <ng-container>
                      <ng-template *ngFor="let productImg of productDetails.invoicePhotoUrl; let i = index" carouselSlide>
                        <div class="">
                          <img src="{{productImg}}" alt="Invoice Image" />
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
                <div class="col-lg-9">
                  <h5 class="mb-3">Warranty Details</h5>
                  <div class="row">
                    <div class="col-lg-6">
                      <p class="text-muted">Purchase Date</p>
                      <h6 *ngIf="productDetails?.purchaseDate; else Block1;">{{productDetails?.purchaseDate | date:'dd MMM yyyy'}}</h6>
                      <ng-template #Block1> <h6>N/A</h6> </ng-template>
                      <p class="text-blue">{{productDetails.warrantyPeriod}} Months</p>
                    </div>
                    <div class="col-lg-6">
                      <p class="text-muted">Expires on</p>
                      <h6 *ngIf="warrantyValidTill; else block2;">{{warrantyValidTill | date: 'dd MMM yyyy'}}</h6>
                      <ng-template #block2> <h6>N/A</h6> </ng-template>
                      <p class="text-red" *ngIf="warrantyDaysLeft >= 0">{{(warrantyDaysLeft !== '')? warrantyDaysLeft : '0'}} days left</p>
                      <p class="text-red" *ngIf="warrantyDaysLeft < 0">Warranty Expired</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="invoice-details-box" *ngIf="productDetails?.extendedWarranty">
              <div class="row">
                <div class="col-lg-3">
                  <img src="assets/img/blank-image.png" alt="" />
                </div>
                <div class="col-lg-9">
                  <h5 class="mb-3">Extended warranty</h5>
                  <div class="row">
                    <div class="col-lg-6">
                      <p class="text-muted">Service Provider</p>
                      <h6>{{productDetails.extendedWarranty?.serviceProvider || 'N/A'}}</h6>
                      <p class="text-muted mb-1">Validity</p>
                      <p class="text-dark mt-0" style="font-size: 13px;">{{productDetails?.extendedWarranty?.noOfYears || 'N/A'}} years</p>
                    </div>
                    <div class="col-lg-6">
                      <div class="image-wrapper" *ngIf="productDetails?.extendedWarranty?.mobileNo">
                        <a href="tel:{{productDetails?.extendedWarranty?.mobileNo}}">
                          <img src="assets/img/phone.png" alt="" />
                        </a>
                      </div>
                      <p class="text-muted">Mobile No</p>
                      <h6>{{productDetails?.extendedWarranty?.mobileNo || 'N/A'}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="invoice-details-box" *ngIf="productDetails?.amcDetails">
              <div class="row">
                <div class="col-lg-3">
                  <img src="assets/img/blank-image.png" alt="" />
                </div>
                <div class="col-lg-9">
                  <h5 class="mb-3">Annual maintainance </h5>
                  <div class="row">
                    <div class="col-lg-6">
                      <p class="text-muted">Service Provider</p>
                      <h6>{{productDetails?.amcDetails?.serviceProvider || 'N/A'}}</h6>
                      <p class="text-muted">Validity</p>
                      <h6>{{amcValidTill | date: 'dd MMM yyyy'}}</h6>
                      <p class="daysLeft text-danger" *ngIf="amcLeftDays >= 0">{{(amcLeftDays == '')? 'N/A': amcLeftDays}} Days Left</p>
                      <p class="daysLeft text-danger" *ngIf="amcLeftDays < 0">AMC expired</p>
                    </div>
                    <div class="col-lg-6">
                      <div class="image-wrapper" *ngIf="productDetails?.amcDetails?.mobileNo">
                        <a href="tel:{{productDetails?.amcDetails?.mobileNo}}">
                          <img src="assets/img/phone.png" alt="" />
                        </a>
                      </div>
                      <p class="text-muted">Vendor Agreement No</p>
                      <h6>{{productDetails?.amcDetails?.vendorNo || 'N/A'}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mt-4 mb-3"  *ngIf="(user.remainingTicketCount > 0) && (newTickets.length === 0) && (ongoingTickets.length === 0)">
                <a [routerLink]="['/user/ticket/add', productDetails._id]" class="save-button">
                  <span *ngIf="warrantyValidTill != '' && dateNow < warrantyValidTill;">
                    Claim Warranty
                  </span>
                  <span *ngIf="warrantyValidTill === '' || dateNow > warrantyValidTill;">
                    Raise service Ticket
                  </span>
                </a>
              </div>
              <div class="mt-4 mb-3" *ngIf="(user.remainingTicketCount <= 0) &&(newTickets.length === 0) && (ongoingTickets.length === 0)">
                <a class="save-button">
                  Not enough ticket!
                </a>
              </div>
              <div class="mt-4 mb-3 ml-1">
                <a href="javascript:void(0);" class="save-button btn-danger" (click)="deleteProduct()">Delete</a>
              </div>
              <div class="mt-4 mb-3 ml-1">
                <a href="javascript:void(0);" class="save-button btn-success" [routerLink]="['/user/product/edit', productDetails._id]">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body_content p-4" *ngIf="tickets.length > 0">
  <div class="container">
    <h1 class="heading mb-3">Tickets</h1>
    <p class="text-muted">{{tickets.length}} tickets</p>

    <div class="col-12 row m-0 p-0 mt-4">
      <div class="col-12 col-md-4 mb-2 ticket-list" *ngFor="let ticket of tickets; let i = index">
        <a [routerLink]="['/user/ticket/detail', ticket._id]">
          <div class="card">
            <div class="card-body d-flex p-2">
              <div class="image">
                <img src="{{(ticket.products.productImagesUrl[0] != '')? ticket.products.productImagesUrl[0] : './assets/img/blank-image.png'}}" />
              </div>
              <h1>
                {{ticket?.products?.name}}
                <!-- <span class="mt-2"><small>Expires on :</small> 20 Feb 2023</span> -->
                <span><small>Status :</small> {{ticket?.status}}</span>
              </h1>
            </div>
            <div class="card-footer text-center">
              <h1>
                <span>Your wevouch ticket no.</span>
                {{ticket.uniqueId}}
              </h1>
            </div>
          </div>
        </a>
      </div>
   
    </div>
  </div>
</div>