<div class="body_content pt-4">
  <div class="container product-container">
    <div class="row justify-content-start m-0">
      <div class="col-12">
        <h1 class="hedaing mb-3">Add Ticket</h1>
        <ul class="progressbar">
          <li class="active"></li>
          <li [ngClass]="{ active: isSecondTab === true }"></li>
          <li></li>
        </ul>
      </div>
      <div class="col-lg-12" *ngIf="isFirstTab">
        <form class="warrantyone">
          <div class="row">
            <div class="col-lg-12">
              <label for="issue">Issue details<span>*</span></label>
              <div class="row">
                <div class="col-lg-6">
                  <select
                    name="issueType"
                    id="issueType"
                    [(ngModel)]="issueType"
                    class="form-control"
                  >
                    <option value="Breakage">Breakage</option>
                    <option value="Malfunctioning">Malfunctioning</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <select
                    name="functionType"
                    id="functionType"
                    [(ngModel)]="functionType"
                    class="form-control"
                  >
                    <option value="not-functioning">Not Functioning</option>
                    <option value="Functioning">Functioning</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <span class="text-danger">{{ errorMessage }}</span>
                </div>
                <div class="col-lg-12">
                  <textarea
                    name="description"
                    id="description"
                    [(ngModel)]="description"
                    placeholder="Describe the problem in details"
                    class="form-control"
                  ></textarea>
                </div>
                <div class="col-lg-12">
                  <a
                    (click)="secondTab()"
                    class="request-button"
                    href="javascript:void(0)"
                    >Request Service</a
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12" *ngIf="isSecondTab">
        <div class="c-color-swatch mx-auto">
          <div class="row warranty-two">
            <div class="col-lg-4 d-flex">
              <div class="warranty-box">
                <input type="radio" name="transportationType" [(ngModel)]="transportationType" value="Carry In" id="color-F9ED69" hidden/>
                <label class="c-color-swatch__item" for="color-F9ED69"><img src="./assets/img/warranty.png">Carry-In</label>
              </div>
            </div>
            <div class="col-lg-4 d-flex">
              <div class="warranty-box">
                <input type="radio" name="transportationType" [(ngModel)]="transportationType" value="Pick Up" id="color-F08A5D" hidden/>
                <label class="c-color-swatch__item" for="color-F08A5D"><img src="./assets/img/warranty1.png">Pick-Up</label>
              </div>
            </div>
            <div class="col-lg-4 d-flex">
              <div class="warranty-box">
                <input type="radio" name="transportationType" [(ngModel)]="transportationType" value="On Site" id="color-B83B5E" hidden checked/>
                <label class="c-color-swatch__item" for="color-B83B5E"><img src="./assets/img/warranty2.png">On Site</label>
              </div>
            </div>
            <div class="col-lg-6 text-danger">
              {{ errorMessage }}
            </div>
            <div class="col-lg-12" *ngIf="transportationType === 'Carry In'">
              <div class="body_content pt-4">
                <div class="container">
                  <div class="d-flex justify-content-between">
                      <h1 class="heading mb-3">
                          Choose Service Center
                      </h1>
                      <div class="col-6">
                        <select name="selectedCity" id="" (change)="selectCity()" [(ngModel)]="selectedCity" class="form-control">
                          <option value="{{city.name}}" *ngFor="let city of cityData">{{city.name}}</option>
                        </select>
                      </div>
                  </div>
                  <div class="row" *ngIf="serviceCenters.length > 0; else noServiceCenterBLock">
                    <div class="col-lg-4 py-2" *ngFor="let serviceCenter of serviceCenters">
                      <div class="package-container position-relative recommend">
                        <label class="address-radio">
                          <input type="radio" name="addressId" id="addressId" ngModel value="{{serviceCenter.id}}">
                        </label>
                        <h6 class="mb-2"><span>{{serviceCenter.name}}</span></h6>
                        <h6><b>{{serviceCenter.address}}</b></h6>
                        <p class="m-0">Contact: {{serviceCenter.phone}}</p>
                        <p class="m-0">Email: {{serviceCenter.email}}</p>
                      </div>
                    </div>
                  </div>
                  <ng-template #noServiceCenterBLock>
                    <div class="row">
                      <div class="col-lg-4 py-2">
                        <div class="package-container position-relative recommend">
                          <h6 class="mb-2"><span>No Service center found !</span></h6>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col-lg-12" *ngIf="transportationType === 'On Site'">
              <div class="body_content pt-4">
                <div class="container">
                  <div class="d-flex justify-content-between">
                      <h1 class="heading mb-3">
                          Choose Address
                      </h1>
                      <a href="javascript:void(0);" class="custom-btn mt-0" data-toggle="modal" data-target="#exampleModal" (click)="emptyModal()">Add</a>
                  </div>
                  <div class="row" *ngIf="userAddresses.length > 0; else noAddressBlock">
                    <div class="col-lg-4 py-2" *ngFor="let address of userAddresses">
                      <div class="package-container position-relative recommend">
                        <label class="address-radio">
                          <input type="radio" name="addressId" id="addressId" [(ngModel)]="addressId" value="{{address._id}}">
                        </label>
                        <h6 class="mb-2"><span>{{address.addressLine1}}</span></h6>
                        <h6>{{address.addressLine2}}</h6>
                        <p class="m-0">{{address.location}}</p>
                        <p class="m-0">{{address.city}}, {{address.state}}, {{address.country}}</p>
                        <p class="m-0">{{address.pin}}</p>
                      </div>
                    </div>
                  </div>
                  <ng-template #noAddressBlock>
                    <div class="row">
                      <div class="col-lg-4 py-2">
                        <div class="package-container position-relative recommend">
                          <h6 class="mb-2"><span>No address found !</span></h6>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col-lg-12" *ngIf="transportationType === 'Pick Up'">
              <div class="body_content pt-4">
                <div class="container">
                  <div class="d-flex justify-content-between">
                      <h1 class="heading mb-3">
                        Choose Address
                      </h1>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-12 d-flex align-items-centerjustify-content-between" *ngIf="transportationType === 'On Site'">
              <a
                href="javascript:void(0)"
                (click)="goToLast()"
                class="request-button"
                >Request Service</a
              >
              <!-- <p class="text-right text-dark">Courier charges may apply</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="isThirdTab">
        <form class="warrantyone">
          <div class="row">
            <div class="col-lg-12">
              <label for="issue">Select Date & Time<span>*</span></label>
              <div class="row">
                <div class="col-lg-6">
                  <input
                    name="selectedDate"
                    id="selectedDate"
                    [(ngModel)]="selectedDate"
                    placeholder="Select the date"
                    type="date"
                    class="form-control"
                  />
                </div>
                <div class="col-lg-6">
                  <input
                    name="selectedTime"
                    id="selectedTime"
                    [(ngModel)]="selectedTime"
                    placeholder="Select the time"
                    type="time"
                    class="form-control"
                  />
                </div>
                <div class="col-lg-6">
                  <span class="text-danger">{{ errorMessage }}</span>
                </div>
                <div class="col-lg-12">
                  <a
                    (click)="submitTicket()"
                    class="request-button"
                    href="javascript:void(0)"
                    >Request Service</a
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form  #addressForm="ngForm" (ngSubmit)="saveAddress(addressForm)">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Address</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <label for="">Address Line 1 <span class="text-danger">*</span></label>
              <input type="text" name="addressLine1" id="addressLine1" class="form-control" placeholder="Address line 1" #addressLine1="ngModel" ngModel required [ngClass]="{'is-invalid': addressLine1?.invalid && addressLine1?.touched}">
              
              <label for="">Address Line 2 <span class="text-danger">*</span></label>
              <input type="text" name="addressLine2" id="addressLine2" class="form-control" placeholder="Address line 2" #addressLine2="ngModel" ngModel required [ngClass]="{'is-invalid': addressLine2?.invalid && addressLine2?.touched}">
              
              <label for="">Location</label>
              <input type="text" name="location" id="location" class="form-control" placeholder="Location" #location="ngModel" ngModel [ngClass]="{'is-invalid': location?.invalid && location?.touched}">
              
              <label for="">City <span class="text-danger">*</span></label>
              <input type="text" name="city" id="city" class="form-control" placeholder="City" #city="ngModel" ngModel required [ngClass]="{'is-invalid': city?.invalid && city?.touched}">
              
              <label for="">State <span class="text-danger">*</span></label>
              <input type="text" name="state" id="state" class="form-control" placeholder="State" #state="ngModel" ngModel required [ngClass]="{'is-invalid': state?.invalid && state?.touched}">
              
              <label for="">Country <span class="text-danger">*</span></label>
              <input type="text" name="country" id="country" class="form-control" placeholder="Country" #country="ngModel" ngModel required [ngClass]="{'is-invalid': country?.invalid && country?.touched}">
              
              <label for="">Pin <span class="text-danger">*</span></label>
              <input type="number" name="pin" id="pin" class="form-control" placeholder="Pin" #pin="ngModel" ngModel required [ngClass]="{'is-invalid': pin?.invalid && pin?.touched}">
              <span class="text-danger">{{addressErrorMessage}}</span>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="save-button">Save Address</button>
          </div>
      </form>
    </div>
  </div>
</div>