<div *ngIf="showHeaderFooterSidebar">
    <div class="customer-details-container">
        <div class="row">
            <app-sidebar></app-sidebar>
            <div class="" id="content">
                <app-header></app-header>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!-----Notification------->
    
    <div id="schedbox">
        <div class="r_notification">
            <div class="row m-0 title justify-content-between">
                <h4 class="nav-link">Notification</h4>
                <a href="javascript:void(0);" class="nav-link schedthis"><i-feather name="x"></i-feather></a>
            </div>
            <div class="row m-0 tt-body" *ngFor="let notification of notifications">
                <div class="card shadow-sm">
                    <small>{{notification.createdDate | date: 'dd MMM, yyyy'}} ( {{notification.createdDate | date: 'h:mm a'}} )</small>
                    <h6>{{notification.title}}</h6>
                    <p>{{notification.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer-details-container" *ngIf="loginRegistration">
    <router-outlet></router-outlet>
</div>