<a id="sidebarCollapse" href="javascript:void(0);" class="shadow-lg">
  <!-- <i class="fas fa-bars"></i> -->
  <aside id="hideShowText">hide</aside>
</a>
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-container content align-items-center col-12 col-md-4 p-0 ml-auto bg-black d-flex">
        <ul class="align-items-center mb-0 bg-grayblue pb-2 fix-p py-2">
          <li class="nav-item position-relative">
            <a routerLink="user/notification-settings" class="nav-link"
              ><i-feather name="settings"></i-feather></a>
          </li>
          <li class="nav-item position-relative">
            <a href="javascript:void(0);" class="nav-link schedthis"
              ><i-feather name="bell"></i-feather></a>
            <span class="noti-count">5</span>
          </li>
          <!-- <li class="nav-item">
            <a
              href=""
              class="nav-link text-white border-l"
              data-toggle="collapse"
              data-target="#collapseExample"
            >
              <i-feather name="search" class="mr-1"></i-feather>
              <span class="re-hide">Search</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link text-white border-l" (click)="logOutUser()">
              <span class="re-hide"><i-feather name="log-out"></i-feather> Log out</span>
            </a>
          </li>
        </ul>
        <a routerLink="/user/profile">
          <div class="d-flex align-items-start pl-2 user-part">
            <p class="user-name">
              Hi, {{userDetails?.name}}<span>Member Since: {{userDetails?.createdAt | date:'yyyy'}}</span>
            </p>
            <diV class="img-user">
              <img src="{{userDetails?.image}}" class="rounded-circle" />
            </diV>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--end-header-->

