<a id="sidebarCollapse" href="javascript:void(0);" class="shadow-lg">
  <!-- <i class="fas fa-bars"></i> -->
  <aside>Hide</aside>
</a>
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-container content align-items-center col-12 col-md-5 p-0 ml-auto bg-black d-flex">
        <ul class="align-items-center mb-0 bg-grayblue pb-2 fix-p">
          <li class="nav-item position-relative">
            <a href="notification-settings.html" class="nav-link"
              ><i-feather name="settings"></i-feather></a>
          </li>
          <li class="nav-item position-relative">
            <a href="javascript:void(0);" class="nav-link schedthis"
              ><i-feather name="bell"></i-feather></a>
            <span class="noti-count">5</span>
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link text-white border-l"
              data-toggle="collapse"
              data-target="#collapseExample"
            >
              <i-feather name="search" class="mr-1"></i-feather>
              <span class="re-hide">Search</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link text-white border-l" (click)="logOutUser()">
              <span class="re-hide"><i-feather name="log-out"></i-feather> Log out</span>
            </a>
          </li>
        </ul>
        <a routerLink="/user/profile">
          <div class="d-flex align-items-start pl-2 user-part">
            <p class="user-name">
              Hi, {{userDetails?.name}}<span>Member Since: 2019</span>
            </p>
            <diV class="img-user">
              <img src="./assets/img/user-pic.png" class="rounded-circle" />
            </diV>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--end-header-->

<!-----Notification------->

<div id="schedbox">
  <div class="r_notification">
      <div class="row m-0 title justify-content-between">
          <h4>Notification</h4>
          <a href="#"><i-feather name="x"></i-feather></a>
      </div>
      <div class="row m-0 tt-body">
          <div class="card shadow-sm">
              <small>2 mins ago</small>
              <h6>Your warranty for iphone 12</h6>
              <p>Expires in 2 days</p>
          </div>
          <div class="card shadow-sm">
              <small>Today</small>
              <h6>Your warranty for iphone 12</h6>
              <p>Expires in 1 days</p>
          </div>
      </div>
  </div>
</div>