<ngx-ui-loader
  loaderId="loader"
  fgsColor="#FFFFFF"
  bgsOpacity="1"
  overlayColor="rgba(40,40,40,0.1)"
></ngx-ui-loader>
<div class="body_content pt-4" *ngIf="!isFourthTab">
  <div class="container product-container">
    <div class="row justify-content-start m-0">
      <div class="col-12">
        <h1 class="hedaing mb-3" *ngIf="isExtendenWarranty === false && isAmcDetails === false">Add Products</h1>
        <h1 class="hedaing mb-3" *ngIf="isExtendenWarranty">Add Extended Warranty</h1>
        <h1 class="hedaing mb-3" *ngIf="isAmcDetails">Add AMC Details</h1>
        <ul class="progressbar">
          <li class="active">PRODUCT</li>
          <li [ngClass]="{ active: isSecondTab === true || isThirdTab === true }">WARRANTY</li>
          <li [ngClass]="{ active: isThirdTab === true }">FINISH</li>
        </ul>
      </div>
      <div class="col-lg-12" *ngIf="isFirstTab">
        <form class="addProductStepOne" id="product-first-form" #productFirstForm="ngForm" (ngSubmit)="showSecondTab(productFirstForm)">
          <div class="row">
            <div class="col-lg-6">
              <label for="name">Nickname<span>*</span></label>
              <input class="form-control" #name="ngModel" ngModel type="text" name="name" id="product_name" placeholder="Product nickname" required [ngClass]="{'is-invalid':name?.invalid && name?.touched}">
            </div>
            <div class="col-lg-6">
              <label for="brandId">Brand Name <span>*</span></label>
              <ng-select 
                bindLabel="name"
                placeholder="Select item"
                appendTo="body"
                [searchable]="true"
                [(ngModel)]="brandId"
                (change)='fetchCategory()'
                name="brandId">
                    <ng-option [value]="item.id" *ngFor="let item of brandList">
                        {{item.name}}
                    </ng-option>
              </ng-select>
            </div>
            <div class="col-lg-6">
              <label for="category">Category<span>*</span></label>
              <ng-select 
                bindLabel="category"
                placeholder="Select item"
                appendTo="body"
                [searchable]="true"
                [(ngModel)]="category"
                (change)='fetchSubCategory()'
                name="category">
                    <ng-option [value]="item.category" *ngFor="let item of categoriesList">
                        {{item.category}}
                    </ng-option>
              </ng-select>
            </div>
            <div class="col-lg-6">
              <label for="subCategory">Sub Category <span>*</span></label>
              
              <ng-select 
                bindLabel="sub_category"
                placeholder="Select item"
                appendTo="body"
                [searchable]="true"
                [(ngModel)]="subCategory"
                (change)='fetchModel()'
                name="subCategory">
                    <ng-option [value]="item.sub_category" *ngFor="let item of subCategoriesList">
                        {{item.sub_category}}
                    </ng-option>
              </ng-select>
            </div>
            
            <div class="col-lg-6">
              <label for="mobile">Registered Mobile No.<span>*</span></label>
              <input
                type="text"
                #registeredMobileNo="ngModel" [ngModel]="user.mobile" name="registeredMobileNo"
                id="registeredMobileNo"
                placeholder="+91"
                class="form-control" required 
                pattern="(?=.*\d).{10,}" 
                [ngClass]="{'is-invalid':registeredMobileNo?.invalid && registeredMobileNo?.touched}"
              />
            </div>
            <div class="col-lg-12">
                <span class="text-danger error_message">{{errorMessage}}</span>
            </div>
            <div class="col-lg-6">
             
              <button class="addButton"  type="submit">
                Add 
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12" *ngIf="isSecondTab">
        <form class="addProductStepfour" *ngIf="isSecondTab" id="product-second-form" #productSecondForm="ngForm" (ngSubmit)="showThirdTab(productSecondForm)">
          <div class="row">
            <div class="col-lg-4">
              <div class="brand-container">
                <div class="brand-wrapper">
                  <input type="file" class="brand-file" (change)="onSelectFile1($event)" />
                  <img src="{{uploadedFile1}}" alt="">
                </div>
                <span class="text-danger">{{fileFormatError}}</span>
                <h6>Upload Invoice Photo</h6>
                <p class="text-muted text-center">
                  Image of invoice recieved on the day of purchase
                </p>
              </div>
              <p class="text-center text-extra text-muted mt-3">
                Enter full details to receive warranty reminders !
              </p>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-6">
                  <label for="name">Purchase Date<span>*</span></label>
                  <input
                    type="date"
                    #purchaseDate="ngModel" [(ngModel)]="purchaseDateField" name="purchaseDate" id="purchaseDate"
                    placeholder="LG"
                    class="form-control"
                  />
                </div>
                <div class="col-lg-6">
                  <label for="warranty">Warranty Period <span>*</span></label>
                  <div class="row">
                    <div class="col-lg-6">
                      <!-- <select #warrantyPeriod="ngModel" [ngModel]="'1'" name="warrantyPeriod" id="warrantyPeriod" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select> -->
                      <input type="number" #warrantyPeriod="ngModel" [ngModel]="1" name="warrantyPeriod" id="warrantyPeriod" class="form-control" required [ngClass]="{'is-invalid':warrantyPeriod?.invalid && warrantyPeriod?.touched}">
                    </div>
                    <div class="col-lg-6">
                      <select #warrantyType="ngModel" [ngModel]="'year'" name="warrantyType" id="warrantyType" class="form-control">
                        <option value="year">Years</option>
                        <option value="month">Month</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label for="sno">Serial No.<span>*</span></label>
                  <input
                    type="text"
                    #serialNo="ngModel" [(ngModel)]="serialNoField" name="serialNo" id="serialNo"
                    placeholder="eg:123456"
                    class="form-control"
                    pattern="(?=.*\d)" required 
                  />
                </div>
                <div class="col-lg-6">
                  <label for="name">Model No <span>*</span></label>
                  
                  <ng-select 
                    bindLabel="model_no"
                    placeholder="Select item"
                    appendTo="body"
                    [searchable]="true" 
                    #modelNo="ngModel" 
                    [ngModel]="modelId"
                    name="modelNo">
                        <ng-option [value]="item.model_no" *ngFor="let item of modelList">
                            {{item.model_no}}
                        </ng-option>
                  </ng-select>
                </div>
                <div
                  class="form-check col-lg-6 d-flex pl-0 pl-md-4 ml-0 ml-2 mt-2 mb-2 custop_check"
                >
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >International Warranty</label
                  >
                </div>
                <div class="col-12 col-md-12 tex-tright add_warrenty">
                  <a href="javascript:void(0)" class="mr-0 mr-md-3" (click)="showExtendenWarranty()"
                    ><i-feather name="plus-circle" width="18" class="mr-1"></i-feather>Add extended warranty</a
                  >
                  <a href="javascript:void(0)" (click)="showAmcDetails()"
                    ><i-feather name="plus-circle" width="18" class="mr-1"></i-feather>
                    Add AMC details</a
                  >
                </div>
                <div class="col-lg-12">
                  <span class="text-danger error_message">{{errorMessage}}</span>
              </div>
                <div class="col-lg-12">
                  <div class="button-container">
                    <!-- <button class="product-button skip-button" (click)="showThirdTab()">
                      Skip
                    </button> -->
                    <button  type="submit" class="product-button continue-button">
                      Continue
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12" *ngIf="isThirdTab">
        <h2 class="subheading text-center">Add Product Pictures</h2>
        <p class="text-muted text-center">
          Image of the product
        </p>
        <div class="row">
          <div class="col-lg-4 mt-2 mb-2">
            <form action="" class="addProductStepThree">
              <div class="brand-wrapper">
                <input type="file" class="brand-file" (change)="onSelectFile2($event)" />
              </div>
            </form>
          </div>
          <div class="col-lg-4 mt-2 mb-2">
            <div class="invoice-box">
              <img src="{{uploadedFile2}}" alt="" />
            </div>
          </div>
          <div class="col-12">
            <span class="text-danger">{{fileFormatError}}</span>
          </div>
          <div class="col-12">
            <span class="text-danger">{{errorMessage}}</span>
          </div>
          <!-- <div class="col-lg-4 mt-2 mb-2">
            <div class="invoice-box">
              <img src="./assets/img/product3.png" alt="" />
            </div>
          </div> -->
          <div class="col-lg-12">
            <h2 class="subheading">Uploading Pictures....</h2>
            <div class="progress">
              <div class="progress-bar animated-progress" style="width: 70%">
                70%
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="button-container">
              <!-- <button class="product-button skip-button" (click)="showThankYou()">
                Skip
            </button> -->
             <button class="product-button continue-button" (click)="showThankYou()">
                 SAVE PRODUCT
             </button>
            </div>
          </div>
        </div>
      </div>
      
    <app-extended-warranty (addExtendedWarranty)="addExtendedWarranty($event)" *ngIf="isExtendenWarranty"></app-extended-warranty>
    <app-amc-details *ngIf="isAmcDetails" (addAmcDetails)="addAmcDetails($event)"></app-amc-details>
    </div>
  </div>
</div>
<div class="body_content" *ngIf="isFourthTab">
  <div class="container">
      <div class="row m-0">
          <div class="col-12 thank-you text-center">
              <img src="./assets/img/tick3.png">
              <h1>Thank You!</h1>
              <p class="b-bottom">Please check your email for further instructions on how to complete your account step.</p>

              <p>Having trouble? <a href="">Contact Us</a></p>
              <a routerLink="/user/product/products" class="continue-btn">CONTINUE TO HOME PAGE</a>
          </div>
      </div>
  </div>
</div>
