<div class="product-slider shadow-sm">
  
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active pl-0 pr-0"
      id="all-slider"
      role="tabpanel"
      aria-labelledby="all-tab"
      
    >
    <owl-carousel-o [options]="customOptions" *ngIf="productList.length > 0; else noProductsBlock;">
      <ng-container>
        <ng-template *ngFor="let product of productList; let i = index" carouselSlide>
          <div routerLink="/user/product/detail/{{product._id}}" class="slider_content">
            <div class="out_of_warranty" *ngIf="product.expiryDate === ''">
              Out of warranty
            </div>
            <div class="in_warranty" *ngIf="product.expiryDate != ''"></div>
            <div class="image-wrapper">
              <!-- <img src="{{product.productImagesUrl[0]}}" class="carousel-image" alt="" /> -->
              <img src="{{(product.productImagesUrl != '')? product.productImagesUrl[0] : './assets/img/blank-image.png'}}" alt="" class="carousel-image">
            </div>
            <div class="slider-bottom">
              <h6 class="product-name">{{product.name}}</h6>
              <p class="text-muted text-center mb-3" *ngIf="product.expiryDate != '' ">Expires on {{product.expiryDate | date: 'dd MMM yyyy'}}</p>
              <p class="text-muted text-center mb-3" *ngIf="product.expiryDate === ''">No expiry date</p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    
    <ng-template #noProductsBlock>
      <owl-carousel-o [options]="customOptions" >
        <ng-container>
          <ng-template carouselSlide>
            <div>
              <div class="image-wrapper">
                <h1 class="mb-0 heading">No Products Found!</h1>
              </div>
            </div>
          </ng-template>
        </ng-container>
        
      </owl-carousel-o>
    </ng-template>

      <span *ngIf="productList.length > 0; else addProductBlock;">
        <a routerLink="/user/product/products" class="viewbutton mx-auto">View All</a>
      </span>
      <ng-template #addProductBlock>
        <a routerLink="/user/product/add" class="more_btn mx-auto">
          <i data-feather="plus"></i> Add Product</a>
      </ng-template>
    </div>
  </div>
</div>
