<ngx-ui-loader
  loaderId="loader"
  fgsColor="#FFFFFF"
  bgsOpacity="1"
  overlayColor="rgba(40,40,40,0.1)"
></ngx-ui-loader>
<section class="login-sec pt-5">
  <div class="container">
    <div class="row h-100 m-0 justify-content-center align-items-center">
      <div class="col-md-6 login-L pr-0 pr-md-5">
        <img src="./assets/img/login-logo.png" />
        <div class="login_con">
          <h3>Sign Up Your Account</h3>
          <p>
            To keep connected with us please Register with your personal
            information by email address and password
          </p>
        </div>
        <div class="login-it1">
          <img src="./assets/img/login_it1.png" />
        </div>
      </div>
      <div class="col-12 col-md-5 pl-md-3 pr-md-3">
        <div class="login-R">
          <h5>Sign Up for Dashboard</h5>
          <div class="p-4 form-section">
            <div class="text-center social_icon">
              <a href="" class="gs"><img src="./assets/img/g+logo.png" /></a>
              <a href="" class="fs"><i-feather name="facebook"></i-feather></a>
              <a href="" class="tw"><i-feather name="twitter"></i-feather></a>
              <a href="get_otp.html" class="sm"><i-feather name="smartphone"></i-feather></a>
            </div>
            <span class="or-sec"><small>Or</small></span>
            <form
              id="signup-form"
              #userSignupForm="ngForm"
              (ngSubmit)="userSignupSubmit(userSignupForm)"
            >
              <div class="form-group">
                <label><i-feather name="user" class="mr-1"></i-feather> Name</label>
                <input class="form-control" #name="ngModel" ngModel type="text" name="name" id="your_name" placeholder="Your Name" required [ngClass]="{ 'is-invalid': name?.invalid && name?.touched }"/>
                
                <label><i-feather name="mail" class="mr-1"></i-feather> Email Address</label>
                <input class="form-control" #email="ngModel" ngModel type="email" autocomplete="email" name="email" id="your_email" placeholder="Your Email" required [ngClass]="{ 'is-invalid': email?.invalid && email?.touched }"/>
                
                <div>
                  <label><i-feather name="phone" class="mr-1"></i-feather> Mobile</label>
                  <input class="form-control" #mobile="ngModel" ngModel type="text" name="mobile" placeholder="Your Mobile" pattern="(?=.*\d).{10}" required [ngClass]="{ 'is-invalid': mobile?.invalid && mobile?.touched }"/>
                  <span class="mb-1 text-danger" *ngIf="mobile?.invalid && mobile?.touched">
                    <small>
                      Mobile number must be of 10 digit.
                    </small>
                  </span>
                </div>

               <div>
                <label><i-feather name="lock" class="mr-1"></i-feather> Password</label>
                <input
                  class="form-control"
                  tabindex="2"
                  #password="ngModel"
                  ngModel
                  type="password"
                  name="password"
                  id="your_pass"
                  placeholder="Password"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                  required 
                  [ngClass]="{'is-invalid':password?.invalid && password?.touched}"
                />
                <span class="mb-1 text-danger" *ngIf="password?.invalid && password?.touched">
                  <small>
                    Must contain at least one number, one uppercase, lowercase letter, and at least 6 characters
                  </small>
                </span>
               </div>

                <label><i-feather name="calendar" class="mr-1"></i-feather>Age</label>
                <input class="form-control" tabindex="2" #age="ngModel" ngModel type="age" name="age" placeholder="age" required pattern="(?=.*\d).{1,}" required [ngClass]="{ 'is-invalid': age?.invalid && age?.touched }">
                
                <label><i-feather name="users" class="mr-1"></i-feather>Gender</label>
                <select class="form-control" tabindex="2" #gender="ngModel" [ngModel]="'Male'" type="gender" name="gender" placeholder="gender" required [ngClass]="{'is-invalid':gender?.invalid && gender?.touched}">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
                <div class="d-flex justify-content-between re_dflex mb-3">
                  <p>
                    Already have an account?
                    <a routerLink="/login">(Sign In)</a>
                  </p>
                  
                </div>
                <div>
                  <span class="text-danger">{{errorMessage}}</span>
                </div>
                <button
                  type="submit"
                  class="btn btn-secondary btn-lg btn-block login-btn mt-2"
                >
                  Sign Up
                </button>
                <!-- <button class="btn btn-secondary btn-lg btn-block login-btn mt-2">Sign Up</button> -->
                <p>
                  Protected by recaptcha. Google
                  <a href="javascript:void(0);">Privacy Policy</a> &
                  <a href="javascript:void(0);">Terms of Service</a> apply.
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
